<table class="table">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Review</td>
        </tr>
    </thead>
    <tbody>
        {{#each reviews}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.publication}}</td>
            <td>{{this.fresh}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{#unless reviews}}
<small>No Data Passed</small>
{{/unless}}

<form action="/" method="post"> 
           Enter your name: 
           <input type="text" name="userName" placeholder="..." /> 
           <br> 
           <button type="submit">Submit</button> 
           <br>
          <input type="radio" name="review" value="fresh" checked>Fresh
          <br>
          <input type="radio" name="review" value="rotten">Rotten
</form>